<header >
    <div class="contenedorHead">
        <h1>Estado del clima de la <span class="bold">Republica Argentina</span></h1>
        <img src="../assets/imagenes/logo.png" alt="Logo">
    </div>
    <hr>
    <nav class="navegador">

        <a href="home" alt="Home con la descripcion del sitio" matTooltip="Home con la descripcion del sitio" mat-button color="primary">Home</a>
        <a href="lista" alt="Lista de localidades y su estado meteorológico" matTooltip="Lista de localidades y su estado meteorológico" mat-button color="primary">Lista</a>

    </nav>
</header>