.divTr{
    border: 1px solid;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 1%;
    border-color: #00000080 ;
    box-sizing: content-box;
}
.tr{
    display: flex;
    justify-content: space-between;
}
.titulo2{
    font-size: 26px;
    font-weight: 500;
}
.diminuir{
    font-size: 20px;
    font-weight: 250;
}
.tabla{
    width: 100%;
}
.boton{
    position:fixed; 
    top:90%; 
    right:0;
}